/*body {
    height: 6000px;
    font-family: Helvetica, Arial;
}*/

#top-menu {
    position: fixed;
    z-index: 1;
    background: white;
    left: 0;
    right: 0;
    top: 0;
}

#top-menu{
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

#tohome {
  justify-content: flex-start !important;
}

#top-menu li {
  float: left;
}

#top-menu a {
    display: block;
    padding: 5px 0px 7px 25px;
    width: 5em;
    text-align: left;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    /*border-top: 3px solid white;*/
    color: #000;
    text-decoration: none;
}

#top-menu a:hover {
    color: #fff;
}

#top-menu li.active {
    /*border-top: 3px solid #333;*/
    background-color: #0023af;
}

#top-menu li.active a{
    color: #fff;
}
