body {
  position: relative;
  margin: 0;
  margin-top:56px;
}

.jg{font-family: 'Jeju Gothic', sans-serif;}

/* parallex */
.slide {
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
}
.slide.one{
  background-color: #6F6F6F;
}
.slide.two{
  background-color: #A6A6A6;
}
.slide.three{
  background-color: #E2E2E2;
}
.slide.three_1{
  background-color: #E2E2E2;
  height: 60vh;
}
.slide.four{
  background-color: #FFFFFF;
}
.slide.five{
  background-color: #E8FCFF;
}
.slide.six{
  background-color: #BBF4F9;
}
.slide.seven{
  background-color: #91DBE2;
}
.slide.seven_1{
  background-color: #91DBE2;
}
.slide.eight{
  background-color: #69BAC2;
}
.slide header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  min-height: 50vh;
  max-width: 80%;
  position: relative;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-50%);
  font-size:1.5rem;
  text-align: center;
}
.slide header h1{
  font-size:2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.slide header h1:after{
  content:'';
  border-bottom:1px solid white;
  width:8rem;
  display: block;
  margin:0 auto;
  margin-top:1rem;
}
/* parallex done */

.navbar {
  position: fixed;
  z-index: 1;
  background: white;
  left: 0;
  right: 0;
  top: 0;
}

.navbar-nav {
  justify-content:flex-end !important;
}

/* wordclouds */
.wordclouds {
  max-width: 100%;
  max-height: 100%;
}

.wordclouds @font-face{
    font-family:'Godo'!important ;
    font-style:normal;
    font-weight:400;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
       url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
    }

.wordclouds text:hover {
    stroke: black;
    stroke-width: 1.5px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  text-align:center;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right:20px;
}

/*framwork*/

.framework1 {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.framework1 #carouselExampleControls {
  margin-top: 10px;
}

.carousel-item img {
  width: 100% !important;
  max-height: 50vh;
  margin: 20px auto;
  border-radius: 10px;
}

section {
  padding: 0 10px;
}

.songdo-description {
  padding: 0 15px;
}

#sectiontwo {
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
#sectiontwo img {
  border-radius: 10px;
}

#sectionthree {
  display: flex;
  align-items: center;
}
#wordcloud-container {
  width: 97%;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  margin: 20px auto;
}

#sectionfive div.container{
  background-color: #E2E2E2;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
}

.sparklines_total {
  width: 100%
}

.sparklines_total img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#sectionsix div.container {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

#P_reamore04 {
  margin-top: 30px;
  margin-bottom: 30px;
}


#sectionseven {
  background-color: #A6A6A6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sectionseven div.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#sectionseven p {
  margin-top: 2em;
}

#sectioneight {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sectioneight div.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#sparkline_franchise {
  display: block;
  margin: inherit;
}

#sectionnine {
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

#sectionnine div.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#sectionten.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#tripletPix {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

#toabout {
  padding: 20px;
  background-color: #69BAC2;
}
