.nav {
  background-color: white;
  z-index: 1000;
}

body {
  position: relative;
  top: 42px;
}

.sticky-top {
  top: 42px;
}

.wordclouds @font-face{
    font-family:'Godo'!important ;
    font-style:normal;
    font-weight:400;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
       url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
    }
.wordclouds text:hover {

    stroke: black;
    stroke-width: 1.5px;
  }

/*
  .carousel-control-next-icon {
      background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
      color: black;
  }*/
