.nav {
  background-color: white;
  z-index: 1000;
}

body {
  position: relative;
  top: 42px;
}

.sticky-top {
  top: 42px;
}

#cloud2 {
  width: 500px;
  height: 500px;
  background-color: none;
}
