body {
  position: relative;
}
#sectionFirst {
}
.nav {
  background-color: white;
}
#navScrollspy {
  flex-direction: row;
  /*justify-content: flex-end;*/
}
#navbrand {
  justify-content: flex-start;
}

.container{
  position: static;
  margin-top: 56px;
}
#sectionFirst{
  min-height: 500px;
}
#sectionFirst, #sectionSecond, #sectionThird {
  position: relative;
}
.wordclouds{
  display: flex;
  width: 100%;
  position:relative;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 0px;
  left: 0px;}
#wordcloud2 {
    background-color: violet;
    width:200px;
    height: 100px;
    margin-right: 10px;
    margin-top:10px;
  }
#wordcloud1, #wordcloud3 {
  background-color: violet;
  width:100px;
  height: 100px;
  margin-right: 10px;
  margin-top:10px;
}

.sticky-top {
  background-color: wheat;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
