body {
  position: relative;
  margin: 0;
  margin-top:56px;
}

.jg{font-family: 'Jeju Gothic', sans-serif;}

/* parallex */
.slide {
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
}
.slide.one{
  background-color: #6F6F6F;
}
.slide.two{
  background-color: #A6A6A6;
}
.slide.three{
  background-color: #E2E2E2;
}
.slide.three_1{
  background-color: #E2E2E2;
}
.slide.four{
  background-color: #FFFFFF;
}
.slide.five{
  background-color: #E8FCFF;
}
.slide.six{
  background-color: #BBF4F9;
}
.slide.seven{
  background-color: #91DBE2;
}
.slide.seven_1{
  background-color: #91DBE2;
}
.slide.eight{
  background-color: #69BAC2;
}
.slide header{
  max-width: 80%;
  position: relative;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-50%);
  font-size:1.5rem;
  text-align: center;
}
.slide header h1{
  font-size:2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
.slide header h1:after{
  content:'';
  border-bottom:1px solid white;
  width:8rem;
  display: block;
  margin:0 auto;
  margin-top:1rem;
}
/* parallex done */

.navbar {
  position: fixed;
  z-index: 1;
  background: white;
  left: 0;
  right: 0;
  top: 0;
}

.navbar-nav {
  justify-content:flex-end !important;
}

/* wordclouds */
.wordclouds {
  max-width: 100%;
  max-height: 100%;
}

.wordclouds @font-face{
    font-family:'Godo'!important ;
    font-style:normal;
    font-weight:400;
    src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'),
       url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
    }

.wordclouds text:hover {
    stroke: black;
    stroke-width: 1.5px;
}



img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  text-align:center;
}

p {
  margin-bottom: 20px;
}

/*framwork*/

.framework1 {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.framework1 #carouselExampleControls {
  margin-top: 10px;
}

.carousel-item img {
  width: 100% !important;
  max-height: 50vh;
  margin: 20px auto;
  border-radius: 10px;
}

section {
  padding: 0 10px;
}

#songdo-reason-description {
  padding: 0 15px;
}
